  .auth-form__btn-container {
    position: absolute;
    top: 270px;
    right: auto;
    padding-bottom: 232px;
    width: 100%;
  }

  @media screen and (max-width: 513px) {
    .auth-form__btn-container {
      padding-bottom: 30px;
      top: 420px;
      width: 100%;
    }
  }

