.portfolio__item-icon {
    background: none;
    border: none;
    background-image: url('../../../images/portfolio_icon.svg');
    width: 29px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /* align-self: flex-end; */

}