.promo__image {
    background-image: url('../../../images/promo_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    max-width: 310px;
    height: 304px;
    display: flex;
}