.input {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

@media screen and (max-width: 769px) {
    .input {
        margin: 10px 0 0 0;
    }
}