.auth-form__text {
 font-size: 14px;
 line-height: 17px;
 font-weight: 400;
 color: #A0A0A0;
 margin: 16px auto 0 auto;
 text-align: center;
}

@media screen and (max-width: 769px) {
    .auth-form__text {
        margin: 0 auto;
    }
}