.search-form__page {
  margin: 0 70px;
}

@media screen and (max-width: 769px) {
  .search-form__page {
    margin: 0 30px;
  }
}

@media screen and (max-width: 513px) {
    .search-form__page {
      margin: 0 14px;
    }
}
