.about-project__info-text {
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0 0;
}

@media screen and (max-width: 769px) {
    .about-project__info-text {
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0 0;
    }
}

@media screen and (max-width: 513px) {
    .about-project__info-text {
        font-size: 11px;
        line-height: 16px;
        margin: 16px 0 0 0;
    }
}