.navbar {
  display: flex;
  align-items: center;
  align-content: flex-start;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 769px) {
  .navbar {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 513px) {
  .navbar {
    font-size: 10px;
  }
}
