.movie__image {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 151px;
}