.promo {
    display: flex;
    justify-content: space-between;
    background: #073042;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #fff;
    font-family: 'Inter', sans-serif, Arial;
}
