.portfolio__header {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #A0A0A0;
}

@media screen and (max-width: 513px) {
    .portfolio__header {
        font-size: 14px;
        line-height: 20px;
    }
}