.techs__item {
    padding: 21px 0 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    font-size: 14px;
    line-height: 17px;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .techs__item {
        font-size: 12px;
        line-height: 14px;
        width: 84px;
    }
}