.techs__item {
    padding: 21px 0 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    font-size: 14px;
    line-height: 17px;
    border-radius: 10px;
}