.header {
    padding: 17px 70px 17px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    .header {
        padding: 17px 30px 17px 30px;
    }
}

@media screen and (max-width: 513px) {
    .header {
        padding: 14px 18px;
    }
}