.profile__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    margin: 220px auto 70px auto;
}

@media screen and (max-width: 769px) {
 .profile__button-container {
     margin: 200px auto auto auto;
 }   
}

@media screen and (max-width: 513px) {
    .profile__button-container {
        margin: 359px auto 40px auto;
        max-width: 80%;
    }
}