.popup__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: black;
    margin: 0 0 28px 0;
    transition: .4s;
}

.popup__link:hover {
    opacity: 7;
}

@media screen and (max-width: 613px) {
    .popup__link {
        margin: 0 0 24px 0;
    }
}